
/* --------------------------------------*/
/* Gallery large             
/* --------------------------------------*/

.notion-collection-gallery.large .notion-collection-card
{
	display: flex !important;
	flex-direction: column-reverse !important;
}

.notion-collection-gallery.large .notion-collection-card__property-list
{
  	margin-top: 0px !important;
  	padding: 20px !important;
}

.notion-collection-gallery.large .notion-property__title
{
	font-size: 1.2rem !important;
	font-weight: 600 !important;
	line-height: 1.5rem !important;
	color: var(--pink-global) !important;
}
