
.notion-collection-gallery.medium 
{
	grid-template-columns: repeat(auto-fill, minmax(var(--collection-card-cover-size-small), 1fr));
}

.notion-collection-gallery.medium .notion-collection-card__cover 
{
	height: auto !important;
	max-height: none !important;
	min-height: auto !important;  
}

.notion-collection-gallery.medium .notion-property__title
{
	font-weight: 600 !important;
	line-height: 1.5rem !important;
	padding-bottom: 10px!important;
}
