
/* --------------------------------------*/
/* Gallery large             
/* --------------------------------------*/

.notion-collection-card__cover {
  height: auto !important;
  max-height: none !important;
  min-height: auto !important;
}


.notion-collection__header-wrapper {
  display: none!important;
}


.notion-collection-gallery.large .notion-collection-card__property-list
{
  	margin-top: 0px !important;
  	padding: 20px !important;
}

.notion-collection-gallery.large .notion-property__title
{
	font-size: 1.2rem !important;
	font-weight: 600 !important;
	line-height: 1.5rem !important;
	color:var(--pink-global) ;
	/*color: var(--pink-global) !important;*/
}

.notion-collection-gallery.large .notion-property__text
{
	font-size: 0.9rem !important;
	line-height: 1.4rem !important;
	padding-top:10px;
}
