.notion-collection-gallery.large
{
	grid-template-columns: 1fr 1fr;
}


.notion-collection-gallery.large .notion-collection-card__property-list
{
  	margin-top: 0px !important;
  	padding: 20px !important;
}

.notion-collection-gallery.large .notion-property__title
{
	font-size: 1.2rem !important;
	font-weight: 600 !important;
	line-height: 1.5rem !important;
	color: var(--pink-global) !important;
}

.notion-collection-gallery.large .notion-property__text
{
	font-size: 0.9rem !important;
	line-height: 1.4em !important;
	padding-top:20px;
}

.notion-collection-gallery.large  .notion-collection-card__property-list:after
{
	position: absolute !important;
	right: 0 !important;
	bottom: 0 !important;
	width: 30px;
	speak: none;
	font-family: Consolas;
	color: var(--orange-global) ;
	text-align: center;
	content: "🡕 ";
	font-size: 30px;
	padding:10px !important;
	padding-bottom:0px !important;
}

@media all and (max-width: 546px) 
{
	.notion-collection-card__cover.large, .notion-collection-card__cover.large img
	{
		min-height: 80px;
  		height: 80px;
	}
}

@media all and (min-width: 546px) {

	.notion-collection-card__cover.large, .notion-collection-card__cover.large img 
	{
 		min-height: 60px;
  		height: 80px;
	}
}

@media(max-width:760px)
{
  	.notion-collection-gallery.large
	{
  	  grid-template-columns: 1fr ;
	}
}	
