
:root
{
	--layout-max-width: 1200px !important;
  	/*--collection-card-cover-size-large: 420px!important;*/
  --header-cover-height: 55vh!important;
  --header-cover-height-mobile: 30vh!important;
	--padding-left-mobile: 4% !important;
	--padding-right-mobile: 4% !important;
  
}

body {
	overflow-x: hidden !important;
}
.super-content-wrapper
{
	padding-top: 0px!important;
}


.notion-header {
	display: block !important; 
}


.notion-root.has-footer {
	padding-bottom: 0px!important;
}


h2.notion-heading {
  text-transform: uppercase!important;
  font-weight: 900!important;
}

/* --------------------------------------*/
/* Callout          
/* --------------------------------------*/

.notion-callout
{
	border-radius: 0px !important;
	width: 100vw !important;
	max-width: 100vw !important;
	position: relative !important;
	margin: 0 !important;
	margin-left: -50vw !important;
	left: 50% !important;
	padding: 50px 0px !important;
	display: flex !important;
	justify-content: flex-start !important;
	flex-direction: column !important;
	border: 0 !important;
	text-align: center!important;
}



.notion-root>.notion-callout>.notion-callout__icon
{
	display: none !important;
	width: var(--layout-max-width) !important;
	max-width: var(--layout-max-width) !important;
	padding-left: var(--padding-left) !important;
	padding-right: var(--padding-right) !important;
	margin: 0 auto !important;
}

.notion-root>.notion-callout>.notion-callout__content
{
	margin-inline-start: 0 !important;
	max-width: var(--layout-max-width) !important;
	padding-left: var(--padding-left) !important;
	padding-right: var(--padding-right) !important;
	margin: 0 auto !important;
  align-items: center !important;

}


/* GRIS */
.theme-light .notion-callout.bg-gray-light
{
	background: #222020 !important;
	color: white !important;
	border: none !important;
}
.theme-dark .notion-callout.bg-gray-light
{
	background: #222020 !important;
	color: white !important;
	border: none !important;
}

/* Rouge */

.notion-callout.bg-red-light
{
  	background: url('https://img.voxem.fr/pexels-photo-4570711.jpeg') no-repeat;
	color: white !important;
	background-position: left !important;
  background-size: cover!important;	
	width: 200vw !important;
	max-width: 100vw !important;
	margin-left: -50vw !important;
	left: 50% !important;
	position: relative !important;
	height: 40vw!important;
 }


/* --------------------------------------*/
/* Media : callout             
/* --------------------------------------*/

@media all and (max-width: 546px) {
	.notion-root>.notion-callout>.notion-callout__content
	{
	        padding-left: var(--padding-left-mobile) !important;
	        padding-right: var(--padding-right-mobile) !important;
	}

    	.notion-root>.notion-callout>.notion-callout__icon
	{
	        padding-left: var(--padding-left-mobile) !important;
	        padding-right: var(--padding-right-mobile) !important;
  }
  .notion-callout
  {
  	text-align: center!important;
  }
  .notion-header__cover {
	  height: var(--header-cover-height-mobile)!important;
  }

}


